*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	width: 100%;
	min-height: 100vh;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	overflow: hidden;
	background-image: url(img/bg.png);
	background-size: cover;
}
.containerdl{
	width: 100%;
	min-height: 100vh;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	overflow: hidden;
	background: black;
}
.navbar{
	width: 100%;
	display: flex;
	align-items: center;
}
.logo{
	width: 50px;
	cursor: pointer;
	margin: 30px 0;
}
.menu{
	width: 25px;
	cursor: pointer;
	display: none;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
nav ul li a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	transition: 0.6 ease;
	border: 1px solid #fff;
	border-radius: 27px;
    padding: 5px 20px;
    color: #fff;
	transition: 0.5s ease;
}
nav ul li a:hover{
	background-color: #fff;
	color: #000;
}
nav ul li.active a{
	background-color: #fff;
	color: #000;
}

.button {
    position: absolute;
    top: 65%;
    left: 39%;
    transform: translate(-50%-50%);
}

.buttondc {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-110%);
}

.btn{
	border: 1px solid #fff;
	border-radius: 27px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

.nitro{
    position: absolute;
    top: 35%;
    left: 37%;
    transform: translate(-50%-50%);
}

.nitro h1{
    color: #38B6ff;
    font-size: 70px;
}

.client{
    position: absolute;
    top: 35%;
    left: 49%;
    transform: translate(-50%-50%);
}

.client h1{
    color: #004AAD;
    font-size: 70px;
}

.desc1{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%-50%);
}

.desc1 h1{
	color: lightgray;
}

.join{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-110%);
}

.join h1{
	color: lightgray;
}


.nodlyetlol{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-110%);
}

.nodlyetlol h1{
	color: black;
	font-size: 50px;
}

.features{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-110%);
}

.features h1{
	color: black;
	font-size: 30px;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transform-style: preserve-3d;
	width: 1100px;
}

section .card{
	position: relative;
	width: 320px;
	height: 320px;
	margin: 20px;
	transform-style: preserve-3d;
	perspective: 1000px;
}

section .card .box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 1s ease;
}

section .card:hover .box{
	transform: rotateY(180deg);
}

section .card .box .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section .card .box .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section .card .box .contentBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}

section .card .box .contentBx div{
	transform-style: preserve-3d;
	padding: 20px;
	background: linear-gradient(45deg, #00a1fe,#583bff);
	transform: translateZ(100px);
}

section .card .box .contentBx div h2{
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
}

section .card .box .contentBx div p{
	color: #fff;
	font-size: 16px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

@media only screen and (max-width:700px){

	nav ul{
		width: 100%;
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 2;
	}
	nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a{
		color: #fff;
	}
	.menu{
		display: block;
	}
	#menuList{
		overflow: hidden;
		transition: 0.5s;
	}
}

#preloader{
	background: #000 url(img/loader.gif);
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}